[user]
	name = Alex Zagoro
	email = alex@eagerminds.co
	signingkey = 8E285DF58ED82475
[color]
    ui = true
[core]
	excludesfile = /Users/striveforbest/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/alex.zagoro/.stCommitMsg
	gpgsign = true
	# gpgsign = true
[color]
    ui = true
[push]
	default = simple
	autoSetupRemote = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[pull]
	rebase = true
[submodule] 
	recurse = true
[gpg]
	program = /usr/local/bin/gpg
[tag]
	forceSignAnnotated = true
