[user]
	name = Alex Zagoro
	email = alex.zagoro@eagerminds.nyc
	signingkey = 1ADBE035ED723E8A
[color]
    ui = true
[core]
	excludesfile = /Users/alex.zagoro/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/alex.zagoro/.stCommitMsg
	gpgsign = true
[color]
    ui = true
[push]
	default = simple
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p