.DS_Store
*.log
*.psd
*.fla
*.swp
*.pyc
*.zip
*.tgz
*.tar.gz
*~
#*#
.#*
local_settings.py
backups/
envs/
source/database.db
source/search/site_index/
source/media/CACHE/
source/media/uploads/
source/media/yui/
source/static/
source/initial_data.json
docs/_build/
*/build/
